.forgot-password-page {
    padding: 2rem;
    }
  
  .forgot-password-form {
    background: var(--form-background);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    width: 100%;
  }
  
  .forgot-password-form h1 {
    font-size: 1.75rem;
    color: var(--color-text-primary);
    font-weight: bold;
  }
  
  .forgot-password-form p {
    font-size: 0.95rem;
    color: var(--color-text-secondary);
  }
  
  .forgot-btn {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    border: none;
    font-weight: 500;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .forgot-btn:hover {
    background-color: var(--color-button-hover-bg);
    color: var(--color-button-hover-text);

  }


.back-to-login {
  color: var(--color-text-secondary);
  font-weight: 500;
  text-decoration: none;
}

.back-to-login:hover {
  color: var(--color-text-primary);
  text-decoration: underline;
}

  @media (max-width: 720px) {
    .forgot-password-form {
      max-width: clamp(280px, 90%, 100%);
      }
  }

  @media (min-width: 721px) and (max-width: 1024px) {
    .forgot-password-form {
      max-width: 450px;
    }
  }
  
  @media (min-width: 1025px) {
    .forgot-password-form {
      max-width: 500px;
    }
  }