.login-page {
  padding: 2rem;

}

.login-form {
  max-width: 50%;
  width: 100%;
  background: var(--form-background);
  padding: 2rem 2.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  font-size: 2rem;
  color: var(--color-text-primary);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-form p {
  font-size: 0.95rem;
  color: var(--color-text-secondary);
  margin-bottom: 1rem;
}

.login-form .sign-in-btn {
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-form .sign-in-btn:hover {
  background-color: var(--color-button-hover-bg);
  color: var(--color-button-hover-text);

}

.login-form .register-link,
.forgot-password-link {
  color: var(--color-text-secondary) !important;
  font-weight: 500;
  text-decoration: none;
}

.login-form .register-link:hover,
.forgot-password-link:hover {
  color: var(--color-text-primary);
  text-decoration: underline;
}

.d-flex.justify-content-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 720px) {

  .login-form {
    max-width: clamp(280px, 100%, 100%);
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .login-form {
    max-width: 450px;
  }
}

@media (min-width: 1025px) {
  .login-form {
    max-width: 500px;
  }
}

.login-form .form-control {
  background-color: var(--form-background);
  color: var(--form-text);
  border: 2px solid var(--form-border);
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.login-form .form-control:focus {
  background-color: var(--form-background);
  border-color: var(--color-border-dark);
  color: var(--form-text);
  box-shadow: none;
}

.login-form .form-label {
  color: var(--color-text-primary);
}

.login-form .form-select {
  background-color: var(--form-background);
  color: var(--form-text);
  border: 2px solid var(--form-border);
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.login-form .form-select:focus {
  border-color: var(--color-border-dark);
}

/* Placeholder Styling */
.login-form .form-control::placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-select::placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-control::-webkit-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-control:-ms-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-control::-ms-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-control::placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-select::-webkit-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-select:-ms-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-select::-ms-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.login-form .form-select::placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}